.THIS .contracts_title {
    padding: 20px 20px 20px 0px;
    position: relative;
}

.THIS .contracts_text {
    font-family: Museo;
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000054;
}

.THIS .contracts_title:before {
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    width: 50px;
    height: 6px;
    background-color: #f5a623; 
}

.THIS .contracts_container {
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    margin-bottom: 25px;
}

.THIS .btn-blue {
    border-radius: 6px;
    background-color: #000054;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0), 0 0.5px 2px 0 rgba(0, 0, 0, 0.2);
    font-family: Museo;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.2px;
    text-align: center;
    color: #ffffff;
    padding: 8px 20px;
    margin: 12.5px;
    height: 40px
}

.THIS .btn-blue:focus , .THIS .btn-blue:hover {
    background-color: #d0021b; 
    border : 1px solid #d0021b;
}
.THIS table.dataTable.no-footer {
    border: none;
    box-shadow: none;
    font-size: 14px;
    font-family: HelveticaNeue;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #4a4a4a;
}

.THIS table.dataTable thead th,
.THIS table.dataTable thead td,
.THIS .column {
    text-align: left;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #4a4a4a;
    border-bottom: 1px solid rgba(203, 203, 203, 0.43);
    padding-top: 15px;
    padding-bottom: 15px;
    vertical-align: middle;
}

.THIS table.dataTable tbody td {
    border-bottom: 1px solid rgba(203, 203, 203, 0.43);
}

.THIS .dt-more-container {
    text-align: center;
    margin: 2em 0;
}

.THIS .dataTables_filter {
    display: none;
}

.THIS table.dataTable.display tbody tr.odd>.sorting_1,
.THIS table.dataTable.display tbody tr.odd,
.THIS table.dataTable.display tbody tr.even,
.THIS table.dataTable.display tbody tr.even>.sorting_1 {
    background-color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 8px;
}

.THIS .truncate {
    max-width: 95%;
    position: absolute;
    top: 30%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.THIS table.dataTable tbody td:nth-child(1) {
    width: 4%;
    position: relative;
}
.THIS table.dataTable tbody td:nth-child(2) {
    width: 15%;
    position: relative;
}
.THIS table.dataTable tbody td:nth-child(3) {
    width: 7%;
    position: relative;
}
.THIS table.dataTable tbody td:nth-child(4) {
    width: 7%;
    position: relative;
}
.THIS table.dataTable tbody td:nth-child(5) {
    width: 10%;
    position: relative;
}
.THIS table.dataTable tbody td:nth-child(6) {
    width: 7%;
    position: relative;
}
.THIS table.dataTable tbody td:nth-child(7) {
    width: 10%;
    position: relative;
}
.THIS table.dataTable tbody td:nth-child(8) {
    width: 10%;
    position: relative;
}
.THIS table.dataTable tbody td:nth-child(9) {
    width: 9%;
    position: relative;
}

.THIS table.dataTable thead .sorting {
    background: url(../resource/sort_both) no-repeat;   
    background-position: center left;
    filter: brightness(57%);
    border: 0px;
}

.THIS table.dataTable thead .sorting_desc {
    background: url(../resource/sort_desc) no-repeat;
    background-position: center left;
    border: 0px;
}

.THIS table.dataTable thead .sorting_asc {
    background: url(../resource/sort_asc) no-repeat;
    background-position: center left;
    border: 0px;
}

.THIS .column {
    float: left;
    width: 100%;
    padding-left: 10px;
}
.THIS .pjtTitleColor {
    color: #4a90e2;
    text-decoration: none;
}
.THIS .dataTable > thead > tr > th[class*="sort"]:after{
    content: "" !important;
}
.THIS .milestone-list-legend {
    background-color: rgba(255,255,255,0.54);
    height: 60px;
    margin: 0;
    display: inline-flex;
}
.THIS .type{
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: 0.5px;
    color: #000000;
    margin:5px;
    padding-top: 16px;
}

.THIS .topic-select {
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    border: solid 1px #ccced0;
    width: 50%;
    height: 40px;
    line-height: 40px;
    text-overflow:ellipsis;
    margin-top:10px;
    padding-left: 6px;
    background-color: #ffffff;
}
.THIS .input-group-btn {
    position: relative;
    right: 20px;
    top: 13px;
    font-size: 20px;
}
.THIS .select-topic-item {
    min-height: 35px;
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 35px;
    letter-spacing: 0.5px;
    color: #000000;
    padding-left: 10px;
    word-wrap: break-word;
    cursor: pointer;
}
.THIS .dropdown-content {
    width: 50%;
    max-height: 250px;
    overflow : auto;
    background-color: #ffffff;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
    border: 1px solid rgb(197, 197, 197);
    margin-left: 42px;
    position: relative;
}
.THIS .membersli{
    color:black;
    text-decoration : none;
}
.THIS #statusDropdown{
    margin-left: 126px !important;
    width: 59%;
}
.THIS .duedatefilter{
    width:59%;
}
.THIS .select-topic-item:nth-child(odd) {  
    background-color: #ffffff;    
    padding-left: 10px;
}
.THIS .select-topic-item:nth-child(even) {  
    background-color: #eaeaea;   
    padding-left: 10px; 
}
.THIS .contracttitle{
    color: #007bff;
}
.THIS a#back-to-top i {
	position: absolute;
	right: 25px;
	bottom: 30px;
	font-size: 40px;
}