.THIS {
    font-family: Arial;
    font-size: 14px;
    padding: 16px;
}

.THIS .pageTitle {
    font: 500 21px Museo;
    color: #e60028;
    position: relative;
    padding-top: 10px;
}

.THIS .pageTitle:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 50px;
    height: 5px;
    background-color: #d0021b;
}

.THIS .articleBody {
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    max-width: none;
    padding: 15px;
}

.THIS .articleBody_content {
    width: 66%;
}

.THIS .keyword {
    display: inline-block;
    padding-right: 15px;
}