.THIS .slds-button_neutral[disabled],.THIS .slds-button--neutral[disabled]{
    background-color: #000054;
}
.THIS .slds-button-blue{
    border-radius: 20px;
    background-color: #000053;
    font-family: Museo-300;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    padding: 6px 12px;
    height: 40px;
    border:none;
}
.THIS .slds-button-blue:hover, .THIS .slds-button-blue:focus{
    background-color: #d0021b;
}
.THIS .slds-button-next{
    float:right;
}
.THIS .fa-angle-left{
    margin-right:10px;
}
.THIS .fa-angle-right{
    margin-left:10px;
}
.THIS .btndeleteicon{
    text-align:center;
}
.THIS .totalforcheckout>span:first-child{
    text-align: right;
    padding: 20px 0 20px 0;
}
.THIS .coursetotal-amt {
    left: 10px;
    float: left;
    text-align: left;
    font-family: Museo;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #00004c;
}
.THIS .cart-scroll{    
    padding-top: 10px;
    width:100%;
    min-height:172px;
    height:auto;
    overflow:auto;
} 
.THIS  .readyforcheckout{    
    max-height: initial;
    height:auto;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    position:relative;
    padding:0;
}
.THIS .btndeleteicon a{
    color: rgba(0, 0, 0, 0.7);
    position: relative;
}
.THIS .cLHC_CartComponent{
    border:1px solid red;
}
.THIS .lhc-title-all{
    font-family: Museo;
    font-size: 64px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.06;
    letter-spacing: 0.9px;
    text-align: left;
    color: #000053;
    position: relative;
    padding-top: 14px;
    
}

.THIS .lhc-title-all:before {
    position: absolute;
    content: '';
    top: 0;
    left: 5px;
    width: 73px;
    height: 9px;
    background-color: #50d2ff;
}
.THIS .my-study-ecb{
    position: absolute;
    height: 95px;
    background: #50D2FF;
    top:-26px;
    width: 80px;
    right: 0;
}
.THIS .my-study-ecb:before{
    position: absolute;
    height: 90px;
    background: #50D2FF;
    content: '';
    width: 184px;
    top: 95px;
    right: 0;
}
.THIS .button-cancel{
    margin-right: 0px;
    float: right;
}

.THIS .hideDiv {
    display: none;
}
.THIS .showDiv {
    display: block;
}
.THIS .promo {
    font-size: medium!important;
    text-align:left !important;
}

/*Change For ECB - 4189*/
.THIS .errorDiv {    
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;    
    font-family: Museo; 
    color:#000054;
    float:right;
    margin-top:15px;
    
} 
.THIS .movetocheckout{
    margin:20px 0;
}
.THIS .redirectsection:before{
    margin-left:-20px;
}
.THIS .courselist-checkout ul{
    padding:0;
    margin:0;
}
.THIS .coursetotal-amt{
    left:0;
    padding: 20px 0;
}
.THIS .btndeleteicon i{
    font-size: 26px;    
    position: absolute;    
    color: rgba(0, 0, 0, 0.7);
}
.THIS .movetocheckout div{
    font-family: Museo;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;  
    color: #00004c;
}
.THIS .delete-sf:focus{   
    position: absolute;  
}
.THIS .product-seperation{
    border: solid 1px #979797;
    /*width: 100%;*/
    margin: 14px 15px;
}
.THIS .cart-common-button .button-cancel,.THIS .slds-button-blue{
    width:175px;
}
.THIS .totalforcheckout{
    position:relative;
}
/*terms and condition in view cart page*/
.THIS .conditioncheck .slds-form-element__label {
    font-family: Museo;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #00004c;
}
.THIS .conditioncheck .slds-checkbox_faux {
    height: 20px;
    width: 20px;
}
.THIS .conditioncheck .slds-checkbox_faux:after {
    width: 8px!important;
    height: 5px!important;
    top: 44%!important;
}
.THIS .slds-input-has-icon_right .slds-input,
.THIS .slds-input-has-icon_right .slds-input::placeholder{
    height:30px;
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #00004c !important;
}
.THIS .slds-form-element{
    display:inline-flex;
}
.THIS .conditioncheck .slds-checkbox__label{
    margin:10px 0;
    text-decoration: underline;
    cursor: pointer;
}
.THIS .allproduct-tandc{
    float:right;
}
.THIS .allproduct-tandc .slds-checkbox__label{
    margin:10px 0;
    text-decoration: none;    
}
.THIS .movetocheckout .slds-input-has-icon .slds-input__icon{
    margin-top:-15px;
    display:none;
}
.THIS .slds-input__icon-group.slds-input__icon-group_right {
    box-sizing: border-box;
    height: 6px;
    width: 6px;
    border-style: solid;
    border-color: #000054;
    border-width: 0px 1px 1px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
    right: 10px;
}
.THIS .conditioncheck .slds-checkbox_faux:after{
    border-bottom: 2px solid white !important;
    border-left: 2px solid white !important;
}
.THIS .slds-form-element .slds-checkbox [type="checkbox"] + .slds-checkbox__label .slds-checkbox_faux{
    background:#000054;
}

.THIS .individual-course,.THIS .deliveryItem {
    text-align:left !important;    
}
.THIS .individual-course .conditioncheck{
    float:left;
}
.THIS .individual-label{
    color: #00004c;
    text-decoration: underline !important;
    position: absolute;
    padding-top: 0;
}
.THIS .promocode .slds-input{
    height: 40px;
    border: 1px solid #000054;
    border-radius: initial;
}
.THIS .promocode{
    float:left;
}
.THIS .promocode .slds-form-element__control{    
    margin-right:15px;
}
.THIS .button-apply .slds-button{
    height:40px;
    font-family: Museo, serif;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.67;
    letter-spacing: normal;
    text-align: left;
    color: #000054;
    border: 1px solid #000054;
    border-radius: initial;
}
.THIS input::placeholder {      
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    
}
.THIS .continueshopping{
    color: #00004c;    
    position: absolute;
    padding-top: 20px;
    right: 38%;
    font-family: Museo;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: .67;
    letter-spacing: normal;
    text-align: left;
    z-index:999;
    cursor: pointer;
}
.THIS .cart-scroll .slds-grid.slds-wrap {
    margin-bottom: 52px;
}
.THIS .courselist-checkout h3,.THIS .courselist-checkout li{
    font-size:20px;
    font-family:Museo;
}
.THIS .deliveryItem select{
    height: 30px;
    border: 1px solid #000054;
    border-radius: initial;
}
.THIS .deliveryItem .slds-form-element__label{
    margin-right:0;
}
.THIS .common-button{
    font-size:20px;
    font-family:Museo;
}
.THIS .applypromocode{
    margin-bottom: 10px;
    padding: 0 19px;
    position: absolute;
    top: -30px;
}
.THIS .promocode label{
    margin-bottom: 10px;
    position: absolute;
    top: -30px;
    font-family: Museo;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #00004c;
}
.THIS .promovalue{
    width: 30%;
    text-align: right;
}
/*model popup*/
.THIS .modal-header{
    /*height: 80px;*/
    background-color: #020053;
    padding: 30px 26px 30px 28px;
}
.THIS .modal-header .slds-modal__close{
    top: 15px;
    right: 27px;
    background: no-repeat;
    border: none;
}
.THIS .modal-header svg,
.THIS .modal-success svg{
    width: 30px;
    height: 30px;
    color: #fff;
}
.THIS .modal-success svg{
    width: 30px;
    height: 30px;
    color: #000054;
}
.THIS .modal-title{
    font-family: Museo;
    font-size: 32px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: 0.1px;
    text-align: left;
    color: #ffffff;
}
.THIS .manage__container{
    min-width: 55%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 5px 13.5px 1.5px rgba(0, 0, 0, 0.4);
    border: solid 2px #020053;
    background-color: #ffffff;
    padding: 0;
    margin-top: 20px;
    top:20%;
}
.THIS .model-footer{
    padding:30px 20px;
}
.THIS .model-footer button{
    width: 177px;
    height: 45px;
    border-radius: 16px;
    border: solid 1.5px #0070f0;
    background-color: #0070f0;
    font-family: Museo;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.13;
    letter-spacing: 0;
    text-align: center;
    color: #ffffff;
}
@media (max-width: 991px){
    .THIS .lhc-title-all{
        font-size: 35px; 
        margin: 25px 0;
    }
    .THIS .movetocheckout div {    
        margin: 0;
    }
    .THIS .readycheckouttitle{
        font-size: 25px;
    }
    .THIS .cart-common-button{
        margin:30px 0 0 0!important;        
    }
    .THIS .cart-common-button .button-cancel{
        float:none;
        width:175px;
    }
    .THIS .coursetotal-amt{
        left:-5px;
        padding: 20px 10px;
    }
    .THIS .btndeleteicon i{
        font-size: 30px;
        left: -15px;
        position: absolute;
        width: 34px;
        height: 41px;
        top: 0;
        color: rgba(0, 0, 0, 0.7);
    }
    .THIS .cart-scroll{    
        overflow-y: scroll;        
        padding-top: 10px;
        width: 100%;
        height: auto;       
    }     
    .THIS .movetocheckout{
        margin:0;
    }
    .THIS .totalforcheckout>span:first-child{
        padding: 20px 30px 20px 0;
    }
    .THIS .totalforcheckout{
        position:relative;
    }
    .THIS .slds-button-keep{
        margin-top:50px !important;
        width:175px;
    }
    .THIS .errorDiv h2{
        font-size:25px;
    }
    .THIS .movetocheckout div{
        max-width:100%;
        flex:auto;
        text-align:center;
    }
    .THIS .errorDiv {
        max-width:100%;
    }
    .THIS .lhc-title-all:before    {
        width: 40px;
        height: 3px;
    }  
    .THIS .coursetotal-amt{
        max-width:83.33333333%;
    }
    .THIS .promocode .slds-form-element {
        float: left;
        margin-right: 10px;
    }
    .THIS .continueshopping {
        color: #00004c;
        position: relative;
        right: 0;
        float: right;
        padding:15px 0;
    }
    .THIS .cart-common-button>div{
        text-align:right;
    }
    .THIS .cart-common-button .button-cancel {
        float: right;
        width: 175px;
        margin-top: 20px;
    }
    .THIS .promocode .slds-form-element__control {    
        text-align: left;
    }
    .THIS .promocode .slds-input{
        width: 307px;
    }
    .THIS .showDiv{
        position: initial !important;
        text-align: right !important;
    }
    .THIS .coursetotal-free{
    float: right;
        text-align:center;
	}
    .THIS .applypromocode{
    left:0;
	}
    .THIS .promovalue{
        width: 90%;
        text-align: right !important;
    }
    
}

.THIS .tcerror{
    visibility: visible;
    position: relative;   
    width: 100%;
    text-align:right;
    color: red !important;
}
.THIS .courseprice{
    text-align: right;
    width: 30%;
    position: absolute;
}

@media (max-width: 767px){
    .THIS .btndeleteicon i{
        top:-12px;
    }
    .THIS .coursetotal-amt{        
        padding: 20px 14px 20px 0;
        text-align: right;
    }
    .THIS .continueshopping {
        color: #00004c;
        position: relative;
        right: 4%;
        float: right;
        padding:15px 0;
    }
    .THIS .cart-common-button .button-cancel{
        float: right;
        width: 175px;
        margin-top: 20px;
    }
    .THIS .redirectsection .container{
        padding:0;
    }
    .THIS .promocode .slds-form-element {
        width:65%;
    }
    .THIS .courseprice {
        text-align: right;
        width: auto;
        position: initial;
    }
    .THIS .promocode .slds-input{
        width: auto;
    }
    .THIS .promocode {    
        padding-left: 0;
    }
    .THIS .showDiv{
        position: initial;
        text-align: left !important;
    }
    .THIS .courselist-checkout h3, .THIS .courselist-checkout li {
    font-size: 16px;
    font-family: Museo;
    overflow-wrap: break-word;    
	}
    .THIS .coursetotal-amt,.THIS .movetocheckout div{
        font-size: 16px;
    } 
    .THIS .applypromocode {
    margin-bottom: 10px;
    padding: 0 8px;
    position: absolute;
    top: -22px;
	}
    
}
.THIS abbr[title]{
    text-decoration: none;
    border-bottom: 0px dotted;
}
.THIS .coursetotal-free{
    float: right;
}
