.THIS .bgcolor{
        background:#f6f5f5;
    }
 .THIS .content-box{
       box-shadow: 1px 2px 6px 0 rgba(196, 196, 196, 0.5);
       background-color: #fff;
    }
.THIS.feedback-about-box{
        width: 240px;
        height: 102px;
        border-radius: 4px;
    }
.THIS input[type="radio"]:checked+label{
        border: 2px solid #000054;
      }

.THIS .rp-popup{
        border-radius: 2px;
        box-shadow: 1px 12px 12px 0 rgba(196, 196, 196, 0.5);
        border: solid 1px #eeeeee;
        background-color: #fff;
        position: absolute;
        top: -94px;
        left: 292px;
        padding: 10px;
    	color:#333333;
}
.THIS .arrow-down {
        width: 0; 
        height: 0; 
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #fff;
        position: absolute;
        top: -8px;
        left: 300px;
      }
.THIS .helpimg:hover + div.rp-popup, .THIS .helpimg:hover+div.rp-popup + span.arrow-down{
          display: block
      }
.THIS .helpimg i:hover{    
    color: #000054;
}
.THIS .rp-text-hightlight:hover > div.rp-popup, .THIS .rp-text-hightlight:hover>div.rp-popup + span.arrow-down{
          display: block
      }
.THIS .form-control:focus{
          box-shadow: none;
      }
.THIS .rating-icon{
        -webkit-text-stroke: 2px white;
        color:#afafaf
    }
.THIS .font-40{
        font-size:40px
    }
.THIS .selectedList{
    list-style: none;
    display: inline-block;
    border: 1px solid #ececee;
    height: auto;
    margin-right: 10px;
    background-color: #ececee;
    margin: 10px 10px 10px 0;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    width:100%;
}

.THIS .selectedList label{
    padding: 0 10px 0;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.85);
}
.THIS .selectedList i{
    color: rgba(0, 0, 0, 0.54);
    opacity: 0.5;
    float: right;
    padding-top: 7px;
}
.THIS .helpimg{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    padding-left: 3px;
}
.THIS .margin-top-6px{
    margin-top:6px;
}
.THIS .error-message {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}
.THIS #Progress_Status { 
  width: 100%; 
  height: 37px;
  background-color: #f5f5f5;
  border-radius: 12px;
} 
.THIS #Progress_Status:hover{ 
  width: 100%; 
  height: 37px;
  background: rgba(0,0,0,0.2);  
  border-radius: 12px;
}  
.THIS .myprogressBar { 
  line-height: 32px; 
  color: black;
  display:inline-flex;
  height: 36px;
  text-align: left;
  padding:0;
}
.THIS .width100{
  width: 100%;
}
.THIS .closefileimg{
    display: inline;
    position: absolute;
    right: 8px;
    top:8px;
    display: block;
    background: #333;
    color: white;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
}
.THIS .closefileimg:hover{
    cursor:pointer;
}
.THIS .loader-feedback{
    height: 6rem;
    z-index: 9999999;
    position: relative;
    left: 100px;
}
.THIS .popover-cancelBtn{
    color: #0078ff;
    cursor: pointer;
}
.THIS .popover-YesBtn{
     float: right;
    color: #e60028;
    cursor: pointer;
}
.THIS .custom-popover{
     position: absolute;
    right: -150px;
    top: 40px;
}
.THIS ::-webkit-input-placeholder {
  font-size: 1rem;
}
.THIS ::-moz-placeholder {
  font-size: 1rem;
}
.THIS :-ms-input-placeholder {
  font-size: 1rem;
}
.THIS ::placeholder {
  font-size: 1rem;
}
.THIS .padding-top-12px{
    padding-top:12px;
}
.THIS .submitLoading{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.7);
    z-index: 9999;
    height: 100%;
}
.THIS .submittingText{
    position: absolute;
    top: 53%;
    left: 50%;
    z-index: 9051;
    transform: translate(-50%, -50%);
}
.THIS .feedbacksubmitheight{
   height: calc(100vh - 289px);
}
.THIS .truncate-fileName{
    width:95%;
    height: 35px;
    line-height: 35px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}
@media (max-width: 600px){
.THIS .mobile-margin{
        margin-top:5px;
    }  
}