.THIS .modal.fade {
      background-color:rgba(0,0,0,0.65);
}
.THIS .rp-primary{
    background: #000054;
    border-color: #000054;
    color:white;
}
.THIS .rp-secondary{
     background: white;
    border-color: #0e81fc;
    color: #0e81fc;
}
.THIS .modal-header{
    border-bottom:none;
    padding:0;
}
.THIS .modal-title{
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    line-height: 25px;
}
.THIS .modal-body{
  font-family: Arial;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
  padding: 15px 0px;
  font-size: 16px;
  min-height: 85px;
}
.THIS .modal-content{
        padding: 20px 35px 20px 34px;
}
.THIS .font-20{
    font-size: 20px;
}
.THIS .modal-footer{
    padding: 20px 0 0 0;
    border-top: 1px solid #979797;
}