/* @font-face {
	font-family: 'Museo';
	src: url('/s/sfsites/c/resource/Museo') format('woff');
} */
@font-face {
	font-family: 'Museo';
	src: url(../resource/museo);
}

/* @font-face {
	font-family: 'Museo';
	src: url(/sfsites/c/resource/Asset/Asset/css/fonts/Museo500-Regular-webfont.woff) format("woff"), 
		 url(/sfsites/c/resource/Asset/Asset/css/fonts/Museo500-Regular-webfont.ttf) format("truetype"); 
} */

@font-face {
	font-family: 'HelveticaNeue';
	src: url(../resource/Asset/Asset/css/fonts/HelveticaNeue.woff) format("woff"), 
		 url(../resource/Asset/Asset/css/fonts/HelveticaNeue.ttf) format("truetype");
}

@font-face {
	font-family: 'Arial';
	src: url(../resource/arial);
}

.THIS .cusNavBar {
	background: #000054;
	/* height: 55px; */
}

.THIS .skip-div:before, .THIS .skip-div:after {
	display: table;
	content: " "
}

.THIS .skip-div:after {
	clear: both;
}

.THIS .skip-div {
	height: 0;
    text-align: left;
    width: 100%;
}

.THIS .skip {
	color: #333;
    font-size: 12px;
    font-weight: 700;
    height: 20px;
    left: -10000px;
    line-height: 20px;
    overflow: hidden;
    padding: 1px 8px;
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
    top: 50px;
    z-index: 5000;
}

.THIS .skip:focus, .THIS .skip:active {
	color: #ffffff;
	left: 340px;
	width: auto;
	height: auto;
	overflow: visible;
	top: 25px;
}

.THIS .collapse .navbar-collapse{
	background: #000054;
}

/* .THIS .navbar {
	background: #000054;
	height: 55px;
} */

.THIS .navbar-toggler {
	padding-left: 0;
}

.THIS .imgRPLogo {
	width: 120px;
	height: auto;
	max-height:50px;
	margin-left: 20px;
}

.THIS .hamburgerIcon {
	color: #ffffff;
}

.THIS .headerLabel {
	font-family: Arial;
	font-size: 20px; 
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
	font-weight: lighter;
	margin-bottom: 0;
	display: inline-block;
}

.THIS .navLinkLabel {
	font-family: Arial;
	font-size: 15px; 
    font-style : normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
	padding-top: 15px;
	font-style: normal;
}

.THIS .cusNavBar .navbar .navbar-expand-lg {
	background: #000054;
	height: 36.5px;
}

.THIS .nav-item {
	padding-right: 20px;
}

.THIS li a i {
	font-size: 20px;
}

.THIS ui:menu .actionMenuTrigger .actionMenu {
	display: none;
}

.THIS ui:menu .actionMenuTrigger:hover .actionMenu {
	display: block;
}

.THIS .search-container {
	padding-right: 50px;
}

.THIS .search-box {
	display: inline;
}

.THIS .search-box > form {
	position: relative;
}

.THIS .search-box .search-icon {
	position: absolute;
	padding-top: 12px;
	right: 10px;
	font-size: 18px;
	color: #000000;
	right: 10px;
}

.THIS .content-search-label {
	overflow: hidden;
	height: 0;
	width: 0;
}

.THIS .search-box input {
	background: #ffffff;
	border: 0;
	width: 250px;
	height: auto;
	margin-top: 8px;
	padding: 2px 10px 2px 20px;
	border-radius: 50px;
	color: #1a1a1a;
	font-family: Museo;
	font-size: 16px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 25px;
}

.THIS .notificationBell {
	
}

.THIS .bellMenu {
	display: none;
	border-radius: 20px;
	color: #ffffff;
    min-width: 8rem;
    left: 89%;
    top: 65px;
}
.THIS .logoutMenu{
	color: #ffffff;
    width: 300px;
    height: auto;
    box-shadow: 1px 2px 6px 0 rgba(196, 196, 196, 0.5);
    border: solid 1px #d8d8d8;
    background-color: #ffffff;
    left: -142px;
    top: 56px;
}

.THIS .notificationBell:hover .bellMenu {
	display: block;
}

.THIS .bellMenu::after{
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 17px solid #FFFFFF;
	top: -16px;
	left: 46px;
	z-index: -10;
}

.THIS .profileLabel {
	font-family: HelveticaNeue;
	font-size: 15px;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: normal;
	color: #ffffff;
    padding-right: 10px;
    display:inline-block;
}

.THIS .showItem {
	display: none;
}

 .THIS .needHelpImg{
        -webkit-box-sizing: border-box;
		box-sizing: border-box; 
		background: url(../resource/needHelpImg) no-repeat;
		padding-left: 69px;
		width: 69px;
		height: 30px;
		margin-right: -40px;
    	margin-top: 10px;
   		margin-left: 15px;
    }
.THIS .logoutMenu >.dropdown-item{
    font-size:18px;
}
.THIS .dropdown-item:hover, .THIS .dropdown-item:focus{
    border-radius: 20px;
    background-color:none;
}
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { 
	.THIS .search-box input {
		height: 30px;
	}
}

.THIS .sideNavPanel {
	width: 0;
	height: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: transparent;
	overflow-x: hidden;
	transition: 0.5s;
	-ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

.THIS .sideNavPanel::-webkit-scrollbar { 
    display: none;
}

.THIS .mobileSideNav {
	height: 7%;
	background-color: #f5f5f5;
}

.THIS .sideNavPanel .closeBtn {
	display: block;
    align-content: center;
    background: #f5f5f5;
    height: 63px;
    width: 50px;
}

.THIS .sideNavPanel .closeBtn .closeLabel {
	font-size: 30px;
    padding-left: 15px;
    padding-top: 15px;
    color: #000054;
}

.THIS .mobileSideNavItem {
	display: block;
    height: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    font-family: museo;
    font-size: 18px;
    color: #000054;
    border-bottom: solid 1px rgba(151, 151, 151, 0.28);
    background: #f5f5f5;
}

.THIS .processAppList {
	height: auto;
	padding-right: 15px;
}

.THIS .mobileSideNavItem .collapse {
	padding-top: 10px;
}

.THIS .collapseItem {
	display: block;
	padding-top: 10px;
	color: #000054;
	
}

.THIS .openPanel {
	width: 250px;
}

.THIS .tabActive {
	color: #d0021b;
}

@media only screen and (max-width: 1024px) {
     .THIS .needHelpImg{
        -webkit-box-sizing: border-box;
		box-sizing: border-box; 
		background: url(../resource/needHelpImg) no-repeat;  /* change with mobile icon */
		padding-left: 69px;
		width: 69px;
		height: 25px;
		margin-right: -38px;
    	margin-top: 10px;
        padding-top: 0px !important;
   		margin-right: 0px;
    }
	.THIS .hideItem {
		display: none;
		height: 0;
		width: 0;
	}
	
	.THIS .showItem {
		display: inline-block;
	}
	
	.THIS .showItem a {
		color: #000054;
        text-decoration : none;
	}	
	.THIS .cusNavBar {
		height: 60px;
		background-color: #ffffff;
  		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
        align-items: normal;
	}
	.THIS .hamburgerIcon {
		color: #000054;
	}
	
	/* .THIS .headerLabel {
		color: #000054;
	} */
	
	.THIS .imgRPLogo {
		-webkit-box-sizing: border-box;
		box-sizing: border-box; 
		background: url(../resource/RSTP_Logo_mobile) no-repeat;
		background-size: 65px 25px;
		padding-left: 69px;
		width: 69px;
		height: 25px;
		margin-left: 10px;
	}
	.THIS .headerLabel {
		color: #000054;
		font-size: 13px;
		font-weight: bold;
		width: 70px;
		white-space: normal;
		padding-left: 5px;
	}
	
	.THIS .showItem a > i {
		color: #000054;
		font-size: 25px;
		padding-right: 0;
		padding-left: 25px;
		padding-top: 5px;
	}
    .THIS .showItem a > #logoutmobile{
        padding-left:5px;
    }
}

@media only screen and (max-width: 405px) {
	.THIS .showItem a > i {
		padding-left: 15px;
	}
}

@media only screen and (max-width: 320px) {
	.THIS .showItem a > i {
		padding-left: 5px;
	}
}

/* @media only screen and (max-width: 768px) {
	.THIS .imgRPLogo {
		-webkit-box-sizing: border-box;
		box-sizing: border-box; 
		background: url(/sfsites/c/resource/RSTP_Logo_mobile) no-repeat;
		background-size: 65px 25px;
		padding-left: 69px;
		width: 69px;
		height: 25px;
		margin-left: 10px;
	}
	.THIS .headerLabel {
		font-size: 13px;
		font-weight: bold;
		width: 70px;
		white-space: normal;
	}
	
	.THIS .showItem a > i {
		font-size: 25px;
		padding-right: 0;
		padding-left: 20px;
		padding-top: 5px;
	}
	
	
} */

.THIS .changephoto-link{
    height: 14px;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0078ff;
    cursor: pointer;
}
.THIS #userphoto{
     display: none;
}
.THIS .username{
    font-family: Museo;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000054;
}

.THIS .useremail{
     height: 20px;
    font-family: Arial;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    padding-top: 4px;
	width:215px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.THIS .userIconBox{
    width: 50px;
    height: 50px;
    border: 1px solid #e8e8e8;
    border-radius: 50%;
    text-align: center;
    cursor:pointer;
}
.THIS .userIcon{
    color: #000054;
    font-size: 41px;
    margin-top: 5px;
}
.THIS .spinner{
    position: absolute;
    top: 0%;
    left: 22%;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(0, 0, 84, 0.8);
}
.THIS .spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner .6s linear infinite;
}
@keyframes spinner {
  to {transform: rotate(360deg);}
}

.THIS .loading-userBox{
        background: rgba(0, 0, 84, 0.8);
}
.THIS .profile-pic{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.THIS .pic-error{
    height: 48px;
    width: 48px;
    position: absolute;
    top: 0px;
    font-size: 9px;
    padding: 10px 5px;
    background: rgba(0, 0, 84, 0.8);
    border-radius: 50%;
}
.THIS .hide{
    display:none;
}
.THIS .show{
    display:block;
}
.THIS .titleEllipses{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow:hidden;
    max-height: 63px;
}