@import url('https://fonts.googleapis.com/css?family=Lato');

.THIS .projectDesIcon {
	font-size: 27px;
	padding-left: 4%;
	color: #4a90e2;
}
.THIS .createPjtContainer{
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding-top: 15px;
    padding-left: 25px;
    padding-bottom: 15px;
    padding-right:10px;
    margin-right:15px;
}
.THIS .noaccess{
    text-align: center;
    font-family: Arial;
    width: 135%;
}

.THIS .page-header {
	padding: 20px 5px 0px 0px;
}

.THIS .pipe{
    content: '';
    position: relative;
    top: -10px;
    left: 0;
    width: 50px;
    height: 6px;
    background-color: #f5a623;	
}

.THIS .label-text {
    padding-right: 0;
	font-family: Museo;
  	font-size: 21px;
  	font-weight: bold;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: normal;
  	letter-spacing: normal;
  	color: #000054;
}

.THIS .ProjectDetailDisplay {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
	background-color: #ffffff;
	max-width: none;
}

.THIS .card-header {
	background-color: #ffffff;
	border-bottom: none;
}

.THIS .project-title {
	/* margin-top: 10px; */
	font-size: 16px;
  	font-weight: bold;
  	overflow-wrap: break-word;
  	padding: 20px;
  	text-align: justify;
}

.THIS .rm-project-badge {
	padding-left: 5px;
    padding-right: 5px;
    margin-left: 15px;
    font-size: 10px;
    vertical-align: top;
    height: 16px;
    max-width: 16px;
    background: #0078ff;
    padding-top:4px;
}

.THIS .rp-project-badge {
	background: #7db81a;
	color: #ffffff;
	padding-left: 6px;
	padding-right: 6px;
	margin-left: 15px;
	font-size: 10px;
	height: 17px;
	vertical-align: top;
    padding-top: 4px;
}

.THIS .rm-project-status {
	padding: 20px;
}

.THIS .secondary-title {
	font-family: HelveticaNeue;
  	font-size: 14px;
  	font-weight: normal;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 1.14;
  	letter-spacing: 0.5px;
  	color: #000000;
}

.THIS .summary-content {
	overflow-wrap: break-word;  	 
    font-family: Arial;
  	font-size: 14px;
  	font-weight: normal;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: normal;
  	letter-spacing: normal;
  	color: #4a4a4a;
  	padding-top: 25px;
  	text-align: justify;
}

.THIS .tooltip-inner {
    min-width: 100px;
    max-width: 100% !important;
}

.THIS .status-text {
	font-size: 14px;
    font-weight: bold;
    word-wrap: break-word;
    text-align: end;
}

.THIS .FoRCode {
	border-radius: 4px;
  	background-color: #ececee;
  	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
  	padding: 10px 15px;
  	margin-bottom: 10px;
  	margin-right: 10px;
  	
  	font-family: Lato;
  	font-size: 14px;
  	font-weight: bold;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 1.14;
  	letter-spacing: 0.5px;
  	color: #353c43;
}

.THIS .btn-add {
	width: 89px;
  	height: 32px;
  	border-radius: 4px;
  	background-color: #000054;
  	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0), 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  	font-family: Museo;
  	font-size: 12px;
  	font-weight: 300;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 1.33;
  	letter-spacing: 0.4px;
  	text-align: center;
  	color: #ffffff;
}

.THIS .btn-add-ethics {
	margin-top: 10%;
}

.THIS .btn-edit-impactdetails{
	margin-top: auto;
}

.THIS #ethicList, .THIS #contactList, .THIS #linkedMilestonesList {
	border: solid 1px rgba(203, 203, 203, 0.43);
}

.THIS .table-header-cell {
	border: none;
}

.THIS table.dataTable thead .sorting {
    background: url(../resource/sort_both) no-repeat;
    background-position: center left;
    filter: brightness(57%);
    border: 0px;
}
.THIS table.dataTable thead .sorting_desc {
    background: url(../resource/sort_desc) no-repeat;
    background-position: center left;
    border: 0px;
}
.THIS table.dataTable thead .sorting_asc {
    background: url(../resource/sort_asc) no-repeat;
    background-position: center left;
    border: 0px;
}

.THIS table.dataTable thead th, .THIS table.dataTable tbody td {
	font-family: HelveticaNeue;
  	font-size: 14px;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: normal;
  	letter-spacing: 0.4px;
  	color: #4a4a4a;
}

.THIS table.dataTable thead th {
	font-weight: bold;
	border-left: none;
	border-right: none;
	border-bottom: none;
}

.THIS table#addEthicsList tbody td, .THIS table#ethicList tbody td, .THIS table#contactList tbody td , .THIS table#linkedMilestonesList tbody td{
	font-weight: normal;
	border-left: none;
	border-right: none;
	
}

.THIS table#addEthicsList tbody td {
	padding: 10px 0 10px 18px;
}

.THIS table#ethicList tbody td {
	padding: 10px 18px;
}

.THIS .table-cell-ethic {
	padding: 10px 18px;
	border-left: none;
	border-right: none;
}
.THIS .ProjectDetailDisplay .dataTables_scrollBody {
    border-bottom: none;
}

.THIS .table-title-column {
	position: relative;
	width: 40%;
}

.THIS .table-addEthic-column {
	position: relative;
	width: 25%;
}

.THIS .table-addEthic-status {
	width:20%;
}

.THIS .table-ethic-column {
	width: 15%;
}

.THIS .truncate {
	max-width: 95%;
	position: absolute;
	top: 30%;
	overflow: hidden;
  	white-space: nowrap;
  	text-overflow: ellipsis;
}

.THIS .dt-more-container{
    text-align:center;
    margin:2em 0;
}

.THIS #addEthic, .THIS div#deleteConfirmation {
	background: rgba(216, 216, 216, 0.4);
}

.THIS .modal-title-addethic {
	font-family: Museo;
  	font-size: 16px;
  	font-weight: bold;
  	font-style: normal;
  	font-stretch: normal;
 	line-height: normal;
  	letter-spacing: normal;
  	color: #000054;
}

.THIS .btn-add-ethic {
	width: 89px;
  	height: 32px;
  	border-radius: 4px;
  	background-color: #000054;
  	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0), 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  	font-family: Museo;
  	font-size: 12px;
  	font-weight: 300;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 1.33;
  	letter-spacing: 0.4px;
  	text-align: center;
  	color: #ffffff;
}

.THIS .btn-add-ethic:disabled {
	opacity: 0.6;
	cursor: not-allowed;
}

.THIS .confirm-delete-text {
	font-family: Lato;
  	font-size: 16px;
  	font-weight: normal;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 1.5;
  	letter-spacing: 0.5px;
  	color: #000000;
}

.THIS .add-ethic-search {
	height: 108px;
    overflow : auto;
    width: 72%;
    left:38%;
}

.THIS .add-ethic-input {
	width: 75%;
	height: 40px;
    padding-left: 10px;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    border: solid 1px #ccced0;
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 0.4px;
}

.THIS .add-ethic-search-item {
	height: 35px;
	font-family: Lato;
  	font-size: 14px;
  	font-weight: normal;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 1.14;
  	letter-spacing: 0.5px;
  	color: #000000;
}

.THIS .add-ethic-search-item:nth-child(odd) {  
    background-color: #ffffff;    
}
.THIS .add-ethic-search-item:nth-child(even) {  
    background-color: #eaeaea;   
}

.THIS .deleteIcon {
	font-size: 20px;
	color: #4a90e2;
	cursor: pointer;
}

.THIS .btn-confirm {
	width: 89px;
  	height: 28px;
  	border-radius: 4px;
  	background-color: #000054;
  	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0), 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  	font-family: Museo;
  	font-size: 12px;
  	font-weight: 300;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 1.33;
  	letter-spacing: 0.4px;
  	text-align: center;
  	color: #ffffff;
}

.THIS .btn-cancel {
	width: 89px;
  	height: 28px;
  	border-radius: 4px;
  	background-color: #ffffff;
  	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0), 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  	font-family: Museo;
  	font-size: 12px;
  	font-weight: 300;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 1.33;
  	letter-spacing: 0.4px;
  	text-align: center;
  	color: #0e81fc;
}

.THIS .pjtsummarypara{
    border: none;  
    height: 200px;    
    background: white;  
    cursor: default;
}
.THIS .textareaheight{
    height: 65px;
}
.THIS .btn-add-ethic:not(:disabled):not(.disabled):focus, .THIS .btn-add-ethic:not(:disabled):not(.disabled):hover, .THIS .btn-add-ethics:focus, .THIS .btn-add-ethics:hover,  .THIS .btn-confirm:focus, .THIS .btn-confirm:hover{
    background-color: #d0021b; 
    border : 1px solid #d0021b;                  
 }
.THIS .btn-cancel:focus, .THIS .btn-cancel:hover{
   background-color: #d0021b; 
   border : 1px solid #d0021b;
    color:white;
}
.THIS .ethicsli{
    color:black;
    text-decoration : none;
}
.THIS .removeItemLink{
    color: #4a90e2 !important;
}
.THIS .editBtn{
    float: right;
    margin-right: 8px;
}
.THIS .inline{
    display: inline-block;
}
.THIS .title-text {
	font-family: HelveticaNeue;
  	font-size: 14px;
  	font-weight: normal;
 	font-style: normal;
 	font-stretch: normal;
  	line-height: normal;
  	letter-spacing: normal;
}
.THIS .truncate {
	max-width: 95%;
	position: absolute;
	top: 30%;
	overflow: hidden;
  	white-space: nowrap;
  	text-overflow: ellipsis;
}
.THIS .milestone-list-icon{
    height: 15px;
}
.THIS .project-list-legend-text {
	font-family: Arial;
  	font-size: 14px;
  	font-weight: normal;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: normal;
  	letter-spacing: normal;
}
.THIS .table-icon-column {
	position: relative;
    width: 2%;
}
.THIS #linkedMilestonesList td:nth-child(2){
    width:11%
}
.THIS #linkedMilestonesList td:nth-child(3){
    width:25%
}
.THIS #linkedMilestonesList td:nth-child(5){
    width:16%
}