<!-------------------------------------------------
Name: InvoicePDF
Purpose: Generate a daily transaction file
Author: Capgemini [Shreya] 
JIRA Reference : ECB-4356 :  Daily transaction text file consumable by SAP integration
                  ECB-4418: Build: SAP file for posting revenue from Course Transaction object
------------------------------------------------------------->

<apex:page controller="CreateTransactionFileController" contentType="text/plain/#emp.txt" action="{!getFileParameters}">{!fileHeader}
    <apex:repeat value="{!documentWrapperList}" var="doc">{!doc.documentHeader}{!doc.liabilitydocumentHeader}{!doc.debitDocumentLineItem}{!doc.creditDocumentLineItem}{!doc.debitDiscountLineItem}</apex:repeat>{!fileTrailor}

      
</apex:page>