<apex:page showHeader="false" sidebar="false" standardStylesheets="true" applyBodyTag="false">
   <apex:form >
   <head>
      <title>Error</title>   
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <style>
             @font-face {
                font-family: 'Museo';
                src:url('{!URLFOR($Resource.Asset, '/Asset/css/fonts/Museo300-Regular-webfont.woff2')}') format('woff2'), /* Super Modern Browsers */
                    url('{!URLFOR($Resource.Asset, '/Asset/css/fonts/Museo300-Regular-webfont.woff')}') format('woff'), /* Pretty Modern Browsers */
                    url('{!URLFOR($Resource.Asset, '/Asset/css/fonts/Museo300-Regular-webfont.tff')}')  format('truetype'), /* Safari, Android, iOS */
                    url('{!URLFOR($Resource.Asset, '/Asset/css/fonts/Museo300-Regular-webfont.svg')}') format('svg'), /* Legacy iOS */
                    url('{!URLFOR($Resource.Asset, '/Asset/css/fonts/Museo100-Regular-webfont.woff2')}') format('woff2'), /* Super Modern Browsers */
                    url('{!URLFOR($Resource.Asset, '/Asset/css/fonts/Museo100-Regular-webfont.woff')}') format('woff'), /* Pretty Modern Browsers */
                    url('{!URLFOR($Resource.Asset, '/Asset/css/fonts/Museo100-Regular-webfont.tff')}')  format('truetype'), /* Safari, Android, iOS */
                    url('{!URLFOR($Resource.Asset, '/Asset/css/fonts/Museo100-Regular-webfont.svg')}') format('svg'), /* Legacy iOS */
                    url('{!URLFOR($Resource.Asset, '/Asset/css/fonts/Museo500-Regular-webfont.woff2')}') format('woff2'), /* Super Modern Browsers */
                    url('{!URLFOR($Resource.Asset, '/Asset/css/fonts/Museo500-Regular-webfont.woff')}') format('woff'), /* Pretty Modern Browsers */
                    url('{!URLFOR($Resource.Asset, '/Asset/css/fonts/Museo500-Regular-webfont.tff')}')  format('truetype'), /* Safari, Android, iOS */
                    url('{!URLFOR($Resource.Asset, '/Asset/css/fonts/Museo500-Regular-webfont.svg')}') format('svg'); /* Legacy iOS */
            }        
            body {
                font-family: Museo!important;
                font-size: 20px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.33;
                letter-spacing: normal;
                margin-top: 100px;   
                color: #000054;
                text-align: center;        
            }
            p {
                font-family: Museo;
            }
        }
       </style>
       </head>
       <body>
        <div class="container">
             <apex:outputText value="Sorry, your activation link has expired.  Please re-register for an account to continue." /> 
        </div>
       </body>
  </apex:form>
</apex:page>