.THIS.notification-container {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 2rem;
    background-color: #cde9ff;
    color: #1f2326;
}

.THIS.notification.hidden {
    display: none;
}

.THIS .square {
    background-color: #000a54;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 1rem;
}

.THIS .message-container {
    display: flex;
    flex-direction: column;
}

.THIS .notification-controls {
    position: absolute;
    bottom: .5rem;
    right: .5rem;
}

.THIS .notification-controls label {
    margin-right: .5rem;
    cursor: pointer;
}

.THIS .notification-controls input[type="checkbox"] {
    display: none;
}

.THIS .notification-controls .checkmark {
    height: 18px;
    width: 18px;
    background-color: #fff;
    border: solid 1px #000;
    display: inline-block;
    position: relative;
    top: 3px;
}

.THIS .notification-controls input:checked + .checkmark:after {
    content: "";
    position: absolute;
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid #000054;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.THIS .notification-close {
    display: inline-block;
    width: 100px;
    height: 32px;
    padding: 5px;
    border-radius: 14px;
    background-color: #000054;
    font-family: Museo;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    color: #fff;
    margin: 0 15px;
    border: none;
}

.THIS .notification-close:hover {
    background-color: #000043;
    text-decoration: underline;
}

.THIS.RMIT-primary-red {
    background-color: #e60028;
    color: #fff;
}
.THIS.RMIT-primary-red a.notification-close,
.THIS.RMIT-primary-red a.notification-close:active {
    color: #fff;
}

.THIS.RMIT-primary-blue {
    background-color: #000054;
    color: #fff;
}
.THIS.RMIT-primary-blue a.notification-close,
.THIS.RMIT-primary-blue-red a.notification-close:active {
    color: #fff;
}

.THIS.RMIT-secondary-orange {
    background-color: #fc9147;
    color: #000;
}

.THIS.RMIT-secondary-yellow {
    background-color: #fac800;
    color: #000;
}

.THIS.RMIT-secondary-lemon {
    background-color: #eedc00;
    color: #000;
}

.THIS.RMIT-secondary-green {
    background-color: #aad75f;
    color: #000;
}

.THIS.RMIT-secondary-aqua {
    background-color: #00dcb4;
    color: #000;
}

.THIS.RMIT-secondary-teal {
    background-color: #7ae1aa;
    color: #000;
}

.THIS.RMIT-secondary-blue {
    background-color: #0078ff;
    color: #fff;
}
.THIS.RMIT-secondary-blue a.notification-close,
.THIS.RMIT-secondary-blue a.notification-close:active {
    color: #fff;
}

.THIS.RMIT-secondary-azure {
    background-color: #00aaff;
    color: #000;
}

.THIS.RMIT-secondary-arctic {
    background-color: #50d2ff;
    color: #000;
}

.THIS.RMIT-secondary-purple {
    background-color: #aa0082;
    color: #fff;
}
.THIS.RMIT-secondary-purple a.notification-close,
.THIS.RMIT-secondary-purple a.notification-close:active {
    color: #fff;
}

.THIS.RMIT-secondary-lavender {
    background-color: #c864c8;
    color: #000;
}

.THIS.RMIT-secondary-pink {
    background-color: #ff8199;
    color: #000;
}