.THIS .cart-scroll{
    overflow-y: scroll;
    height: 172px;
    padding-top: 10px;
    width:100%;
} 
.THIS  .readyforcheckout{
    min-height: 238px;
    height:auto;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    position:relative;
    padding:0;
}
.THIS .btndeleteicon a{
    color: rgba(0, 0, 0, 0.7);
    position: relative;
}
.THIS .coursetotal-amt{
    left: 5px;
}
.THIS .hideDiv {
    display: none;
}
.THIS .errorDiv {
    
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;    
    background-color: #f2dede;
    border-color: #f2dede;
    color: #a94442;
    float:right;
}
.THIS .movetocheckout{
    margin-bottom:0;
    margin: 55px 0;
}

.THIS .lhc-title-all{
    font-family: Museo;
    font-size: 64px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.06;
    letter-spacing: 0.9px;
    text-align: left;
    color: #000053;
    position: relative;
    padding-top: 14px;
    
}

.THIS .lhc-title-all:before {
    position: absolute;
    content: '';
    top: 0;
    left: 5px;
    width: 73px;
    height: 9px;
    background-color: #50d2ff;
}
.THIS .my-study-ecb{
    position: absolute;
    height: 95px;
    background: #50D2FF;
    top:-26px;
    width: 80px;
    right: 0;
}
.THIS .my-study-ecb:before{
    position: absolute;
    height: 90px;
    background: #50D2FF;
    content: '';
    width: 184px;
    top: 95px;
    right: 0;
}
.THIS .courselist-checkout ul {
    padding: 0;
}
.THIS .button-back,.THIS .button-paypal{
    width:175px;
}
.THIS .button-paypal:hover,.THIS .button-paypal:focus{
    background-color: #d0021b;
}
.THIS .product-seperation{
    border: solid 1px #979797;   
}
.THIS .redirectsection:before{
    margin-left:-20px;
}
@media (max-width: 991px){
    .THIS .lhc-title-all{
        font-size: 35px; 
        margin: 25px 0;
    }
    .THIS .courselist-amt{
        text-align:right;
        border:none !important;
    }
    .THIS .button-paypal{
        float:none !important;
    }
    .THIS .movetocheckout{
        margin-bottom: 0;
        margin: 50px 0 20px 0;
    }
    .THIS .col-sm-9 {
        max-width: 75%;
    }
    .THIS .col-sm-10 {
    max-width: 83.33333333%;
	}
    .THIS .totalforcheckout{
        padding-right:0;
    }
    .THIS .lhc-title-all:before    {
        width: 40px;
        height: 3px;
    }
    .THIS .readycheckouttitle{
        font-size:25px;
    }    
    .THIS .movetocheckout div {
    text-align: center;
    margin: 15px 0;
	}
}