@font-face {
	font-family: 'Museo';
	src: url(../resource/museo);
}

.THIS .portal-feedback {
	position: fixed;
  	bottom: 0px;
  	right: 20px;
  	z-index: 100;
}

.THIS .btn-feedback-label {
	display: none;
	font-family: Museo;
  	font-size: 18px;
  	font-weight: bold;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: normal;
  	letter-spacing: normal;
  	color: #ffffff;
  	padding-top: 4px;
}

.THIS .portal-feedback:hover .btn-feedback-label , .THIS .portal-feedback a:focus .btn-feedback-label{
	display: inline-block;
	transition: 0.5 ease;
}

.THIS .btn-feedback {
	width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  	height: 50px;
 	border-radius: 5px;
  	background-color: #d0021b;
}