.THIS {
    border-top: 1px solid #000054;
}

.THIS .faq_panel_header {
    padding: 16px 16px 16px 32px;
    cursor: pointer;
    position: relative;
}

.THIS .faq_panel_title {
    font-family: Museo;
    font-size: 16px;
    color: #666;
    margin: 0;
}

.THIS .faq_panel_toggle {
    position: absolute;
    left: 0;
    width: 16px;
    height: 16px;
    top: 17px;
}

.THIS .horizontal {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -2px;
    width: 100%;
    height: 4px;
    background-color: #000054;
    transition: all .5s ease-in-out;
    transform: rotate(-90deg);
    opacity: 1;
}

.THIS .vertical {
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -2px;
    width: 4px;
    height: 100%;
    background-color: #000054;
    transition: all .5s ease-in-out;
    transform: rotate(-90deg);
}

.THIS.expanded .vertical {
    background-color: #e60028;
    transform: rotate(90deg);
}

.THIS.expanded .horizontal {
    background-color: #e60028;
    transform: rotate(90deg);
    opacity: 0;
}

.THIS .faq_panel_body {
    font-family: Arial;
    font-size: 14px;
    color: #666;
    position: relative;
    transition: max-height .2s ease-in-out;
    max-height: 0;
    overflow: hidden;
}

.THIS .faq_panel_mask {
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    position: absolute;
    bottom: 0;
    height: 1em;
    width: 100%;
}

.THIS.expanded .faq_panel_body {
    max-height: initial;
}

.THIS.expanded .faq_panel_mask {
    display: none;
}