.THIS {
    max-width: 1208px;
}

.THIS .contentBox {
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    padding: .5em;
}

.THIS .heading {
    font: 500 20px Museo;
    color: #e60028;
}

.THIS .ocmsContentHeader_X {
    z-index: 200;
}

.THIS .viewAllLink {
    min-width: 217px;
    height: 40px;
    padding: 8px 16px;
    border-radius: 14px;
    background-color: #000054;
    font-family: Museo;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    color: #fff;
    margin-top: 32px;
    border: none;
}

.THIS .viewAllLink:hover {
    background-color: #000043;
    text-decoration: underline;
}

.THIS .lifecycleFaqs .cmsContentLoader .contentLoaderItems .ocmsContent_X {
    padding: 0 .3em;
}

.THIS .recentContent .cResearcherPortalArticleTileGen {
    box-shadow: none;
    margin: 0 -.5em -.5em -.5em;
}

.THIS .lifecycle_articles .cmsContentLoader {
    background-color: transparent;
}

.THIS .lifecycle_articles .contentLoaderItems {
    margin: -12px;
}

.THIS .lifecycle_articles .cmsContentLoader .ocmsContent_X {
    padding: 12px;
}